<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <InputDefaultBindingsFixApplied>true</InputDefaultBindingsFixApplied>
    <ShowMenuFixApplied>true</ShowMenuFixApplied>
    <MenuUpdateVersion>0</MenuUpdateVersion>
    <Volume>113</Volume>
    <RecentFiles />
    <WindowLocation>
        <X>1</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>3467</X>
        <Y>998</Y>
    </WindowPosition>
    <WindowSize>
        <Width>2228</Width>
        <Height>1253</Height>
    </WindowSize>
    <AudioDevice>auto</AudioDevice>
    <ConfigEditorSearch>Window:</ConfigEditorSearch>
    <Mute>no</Mute>
    <StartupFolder />
</AppSettings>